*{
    padding: 0;
    margin: 0;
    color: white;
}

body{
    background-color: #001;
}

.profile{
    display: none;
}

.menu{
    background-color: #123;
    width: 260px;
    height: 100vh;
    padding: 20px;



}
ul{
    list-style: none;
}

ul li a{
    display: block;
    text-decoration: none;
    /* background-color: red; */
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;


}